#product{
    justify-content: center;
}

.judul{
    text-align: center;
}

.card-img-top{
    height: 200px;
    object-fit: cover;
}


/* tanda bintang digunakan untuk segala sesuatu yang berada di dalam tr
.table > tbody > tr > * {
    vertical-align: middle;
}*/